<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key><string>de.paranoidsecurity.LaunchKeeper.Helper</string>
  <key>CFBundleName</key><string>LaunchKeeperHelper</string>
  <key>CFBundleShortVersionString</key><string>0.1.2</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>SMAuthorizedClients</key>
  <array>
    <string>anchor apple generic and identifier "de.paranoidsecurity.LaunchKeeper" and certificate leaf[subject.OU] = "Y2LTPLFG6D"</string>
  </array>
</dict>
</plist>
